@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
    scroll-behavior: smooth !important;
}



@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
}

.animate-bounce-custom {
    animation: bounce 2s infinite ease-in-out;
}


/* @layer utilities {
    input:-webkit-autofill {
      box-shadow: 0 0 0px 1000px #262626 inset !important; 
      -webkit-text-fill-color: #ffffff !important; 
      transition: background-color 5000s ease-in-out 0s;
    }
  } */

@layer base {}
